.item {
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    padding: 1px;
    margin-bottom: 0.1em;
  }
  
  .foto{
    object-fit:contain;
    height: 65.7vh;

  }
  
@media only screen and (max-width: 800px) {
  .jobsfondoo {
      height: 60vh;
      
  }
}
